@import "@fortawesome/fontawesome-free/css/all.min.css";


:root {
    --font-main: 'Quicksand', sans-serif;
    --main: #81D1E7;
    /*#81D1E7; */
    --main-hover: #3ccbef;
    --main-bg: #f9f9f9;
    --accent: #fcf8c3;
    --accent-hover: #f5ddaf;
    --text: #1b3d6c;
    /*#1b3d6c; */
    --text-light: #555555;
    --white: #ffffff;
    --nav-height: 90px;
    --card-bg: #ffffff;
    --main-rgb: 129, 209, 231;
    /* manually extracted rgb from #81D1E7 */

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-main);
    /* font-family: 'Nunito Sans', sans-serif; */

    margin: 0;
    color: var(--text);
    background-color: var(--main-bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}



/* small styling for demo page */
main {
    overflow-x: hidden;
    padding: 5rem 0 0;
}

p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.hero {
    padding: 2rem;
    background: linear-gradient(180deg, var(--accent), #fff9ee);
    border-radius: 12px;
}