---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <title>Tabemed</title>
    </head>
    <body>
        <Navbar />

        <main>
            <slot />
            <!-- هنا يتم وضع محتوى الصفحة -->
        </main>

        <Footer />
    </body>
</html>
